.whiteBox {
  width: 100% !important;
}

.modalContainer {
  display: flex;
  flex-direction: column;

  .modalHeader {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;

    .modalTitle {
      font-weight: 500;
      font-size: var(--text_base);
      line-height: 26px;
      color: var(--black_300);
      margin-bottom: 0px !important;
    }

    .iconBox {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 30px;
      max-height: 30px;
      width: 100%;
      height: 100%;
      margin-bottom: 0px !important;
    }
  }

  .modalText {
    font-weight: 400;
    font-size: var(--text_tiny);
    line-height: 19px;
    color: var(--gray_1050);
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 25px;
    margin-bottom: 0px;

    .cancelButton {
      padding: 10px !important;
      font-weight: 400;
      font-size: var(--text_m);
      line-height: 21px;
      color: var(--gray_1100);
      width: auto !important;
    }

    .supportButton {
      width: auto !important;
      padding: 10px !important;
      background-color: var(--green_250);
      font-weight: 500;
      font-size: var(--text_m);
      line-height: 21px;
      color: var(--white_900);

      &:hover:enabled {
        img {
          filter: var(--white_900) !important;
        }
      }
    }
  }
}

.notificationContainer {
  @extend .modalContainer;
  flex-direction: row;
  gap: 25px;
  padding: 30px 40px 30px 30px;
  position: relative;

  .closeIcon {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  span {
    flex-direction: column;

    .modalHeader {
      width: auto !important;
    }
  }
}
