.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: max-content;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--white_900);

  .header {
    display: flex;
    align-items: center;
    gap: 25px;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      height: 100%;
      font-size: var(--text_m);
      line-height: 21px;
      color: var(--blue_900);
      margin-bottom: 0px !important;
    }
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: max-content;
    background-color: var(--white_900);
  }
}
