.whiteBox {
  padding: 20px 15px 20px 10px !important;
  width: 35% !important;
  height: max-content;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  height: 100%;

  .balanceSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 50px;

    .balance {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .balanceTitle {
        font-weight: 400;
        font-size: var(--text_tiny);
        line-height: 19px;
        color: var(--blue_900);
      }

      .balanceCount {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 600;
        font-size: var(--text_xx);
        line-height: 41px;
        display: flex;
        color: var(--blue_900);

        .balanceContainer {
          display: flex;
          align-items: center;
          gap: 5px;

          .dollarIcon {
            filter: var(--blue_icon);
            margin-top: 1px !important;
          }
        }
      }

      .lastUpdated {
        display: flex;
        gap: 10px;
        align-items: center;

        .updateDate {
          font-weight: 500;
          font-size: 11px;
          line-height: 12px;
          letter-spacing: 0.02em;
          color: var(--gray_950);
        }

        .refresh {
          color: var(--blue_700);
          border: none;
          background: none;
          font-weight: 500;
          cursor: pointer;

          &:disabled {
            color: var(--black_500);
            pointer-events: none;
            opacity: 0.65;
          }
        }
      }
    }

    .conversion {
      display: flex;
      flex-direction: column;

      .conversionType {
        width: 35px;
        height: 35px;
        background: var(--white_900);
        border: 1px solid var(--gray_250);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
          filter: var(--button_disabled);
        }

        &.activeConversion {
          background: var(--rose_500);
          border: none;

          img {
            filter: var(--button_active);
          }
        }

        &:disabled {
          pointer-events: none;
          opacity: 0.65;
        }
      }

      p {
        font-weight: 500;
        font-size: var(--text_xs);
        line-height: 18px;
        letter-spacing: 0.02em;
        color: var(-blue_100);
        margin-bottom: 5px !important;
      }

      div {
        display: flex;
        gap: 5px;
      }
    }
  }

  .footer {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;

    button {
      border-radius: 40px !important;
      height: 50px !important;
      width: 100% !important;
      min-width: none !important;
    }

    .paymentButton {
      background: var(--button_gradient);
      font-weight: 500;
      font-size: var(--text_m);
      line-height: 21px;
      display: flex;
      color: var(--white_900);
      min-width: max-content;
      padding: 10px !important;

      &:hover:enabled {
        img {
          filter: var(--white_900) !important;
        }
      }
    }

    .balanceButton {
      color: var(--gray_850);
      font-weight: 500;
      font-size: var(--text_m);
      line-height: 21px;
      border-color: var(--purple_100) !important;
      min-width: none !important;
      padding: 10px !important;
    }
  }
}
