.searchInput {
  display: flex;
  border-radius: 8px;
  padding: 5px 6px;
  height: 35px;

  .input {
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--gray_950);
  }
}
