.whiteBox {
  padding: 15px 20px 20px 20px;
  width: 70%;
}
.container {
  max-width: 100%;
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p {
      font-weight: 500;
      font-size: var(--text_base);
      line-height: 30px;
      color: var(--blue_900);
      margin-bottom: 0px !important;
    }

    .button {
      width: 60px;
      height: 20px !important;
      background: var(--white_900);
      border-radius: 10px !important;
      font-weight: 400;
      font-size: var(--text_xs);
      line-height: 14px;
      color: var(--blue_900);
      width: max-content;
      padding: 0px 5px;
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 0px !important;
    gap: 15px;
    width: 100%;
  }
}
