.container {
  max-width: 500px;

  .formItem {
    width: 220px;
  }

  h2 {
    font-weight: 700;
    font-size: var(--text_xl);
  }

  p {
    font-weight: 400;
    font-size: var(--text_tiny);
  }

  .formEmailInput {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 5px;
    height: 40px;
    border: 1px solid var(--gray_900);
  }

  .emailContainer {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;

    :global(.ant-form-item-has-error) {
      max-width: 185px !important;
    }
  }

  .sendEmail {
    height: 40px !important;
    width: 200px !important;

    p {
      margin: 0;
    }
  }
}

@media screen and(max-width: 900px) {
  .container {
    max-width: 350px;

    h2 {
      font-size: var(--text_lg);
    }

    p {
      font-weight: 400;
      font-size: var(--text_sm);
    }

    .emailContainer {
      display: block;
    }

    .sendEmail {
      width: 335px !important;
    }

    .formEmailInput {
      width: 335px !important;
    }
  }

  @media screen and (max-width:450px) {
    .container {
      .formItem {
        width: 100%;
      }

      .emailContainer {
        width: 100%;
      }

      .formEmailInput {
        width: 100% !important;
      }

      .sendEmail {
        width: 100% !important;
      }
    }
  }
}
