.container {
  padding: 30px 50px !important;
  height: 100% !important;

  .imageSection {
    background-image: url(../../../public/image/authBanner.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    height: 100%;
  }

  .whiteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 550px;
    width: 100%;
    background-color: var(--white_900);
    border-radius: 20px;
    padding: 10px 60px 50px;

    .logoContainer {
      display: flex;
      justify-content: center;
      cursor: pointer;
    }

    .titleSection {
      .titleIconContainer {
        display: flex;
        align-items: center;
        column-gap: 10px;
      }

      div {
        h1 {
          font-weight: 600;
          font-size: var(--text_xm);
          line-height: 32px;
          letter-spacing: 0.04em;
          color: var(--black_900);
          margin-bottom: 5px;
        }
      }

      span {
        font-weight: 500;
        font-size: var(--text_tiny);
        line-height: 159.19%;
        color: var(--gray_600);
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 35px;

      :global(.ant-input-status-error) {
        border: 1px solid var(--red_900) !important;
      }

      .moreInfo {
        font-weight: 400;
        font-size: var(--text_xs);
        line-height: 16px;
        color: var(--gray_600);
      }

      .errorMessage {
        color: var(--red_900);
        font-weight: 500;
        font-size: 16px;
      }

      .buttonItem {
        margin-bottom: 10px;
      }

      .formItem {
        max-width: 440px;
        width: 100%;
        margin-bottom: 0;

        label {
          margin-bottom: 6px;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          color: var(--gray_600);
        }

        .formInput {
          border-radius: 10px;
          height: 40px;
          border: 1px solid var(--gray_600);
        }
      }

      .buttonContainer {
        max-width: 215px;
        width: 100%;
        border-radius: 20px !important;
        margin: 0px auto;
      }

      .linkSection {
        display: flex;
        column-gap: 16px;

        p {
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: var(--text_sm);
          color: var(--gray_600);
          margin-bottom: 0;
        }

        a {
          font-weight: 600;
          font-size: var(--text_sm);
          color: var(--purple_900);
        }
      }
    }
  }
  @media screen and (max-height: 800px) {
    .whiteContainer {
      gap: 20px;
      padding: 10px 60px 30px;

      .logoContainer > div {
        max-width: 200px !important;
      }

      .form {
        gap: 20px;
      }
    }
  }
}
