.container {
  width: 100%;
  border-radius: 10px;

  main {
    .title {
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      color: var(--black_300);
    }

    .description {
      font-weight: 600;
      font-size: 16px;
      margin-top: 10px;
      color: var(--black_300);
    }

    .form {
      margin-top: 17px;
    }

    .inputContainer {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      margin-top: 10px;

      span {
        font-size: var(--text_sm);
      }
    }

    .input {
      border-radius: 4px;
      padding: 10px;
      margin-top: 5px;
    }

    .oldPasswordContainer {
      position: relative;

      .oldPassword {
        border-radius: 4px;
        padding: 10px;
        margin-top: 5px;
      }

      .oldPasswordError {
        position: absolute;
        bottom: -20px;

        span {
          font-weight: 400;
          font-size: var(--text_xs);
          color: var(--red_900);
        }
      }
    }

    .submitButton {
      max-width: 300px !important;
      height: 50px !important;
      margin-top: 10px;
    }

    :global(.ant-form label) {
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      color: var(--black_300);
    }

    :global(.ant-input-password-icon.anticon) {
      color: var(--black_300);
    }
  }
}

.notification {
  margin: 80px 240px;
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 20px;

    .description {
      max-width: 300px;
    }
  }
}
@media screen and (max-width: 320px) {
  .container {
    margin-left: 0px;
  }
}
