.container {
  width: 100%;
  height: 100%;

  .notification {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 70% !important;
    width: max-content;
    height: max-content;
  }
}
