.container {
  display: flex;
  width: 100%;
  padding: 18px 44px 18px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;

  .headerRightSection {
    display: flex;
    column-gap: 60px;

    .userSection {
      display: flex;
      column-gap: 8px;
      align-items: center;
      cursor: pointer;

      .userLogo {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px !important;
        background: var(--rose_700);
        border-radius: 5px;
        font-weight: 700;
        font-size: var(--text_tiny);
        color: var(--white_900);
        line-height: 43px;
      }

      .userName {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: var(--blue_900);
      }
    }
  }

  .buttonsSection {
    display: flex;
    column-gap: 17px;

    .arrowLeftBtn,
    .arrowRightBtn {
      width: 33px;
      height: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--gray_150);
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.headerSearchInput {
  width: 440px;
  background: rgba(0, 0, 0, 0.05);
}

.arrowRightBtn {
  transform: rotate(-180deg);
}

.header {
  height: 55px;
}
